aiobotocore
aiohttp==3.9.4
aioitertools
aiosignal
alabaster
alembic==1.13.1
altair
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker==1.8.2
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter==2.2.3
cryptography==42.0.4
cssselect
cycler
cytoolz
dask
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
fonttools==4.25.0
fqdn==1.5.1
frozendict
frozenlist
fsspec
future
gensim
gitdb==4.0.11
GitPython==3.1.41
gmpy2
greenlet==3.0.3
gunicorn==22.0.0
h5py
HeapDict
holoviews
huggingface-hub==0.23.0
hvplot
hyperlink
idna==3.7
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration==20.11.0
isort
itemadapter
itemloaders
itsdangerous==2.2.0
jaraco.classes
jedi
jeepney
jellyfish
Jinja2==3.1.4
jmespath
joblib==1.3.1
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp==2.2.2
jupyter_client
jupyter_core
jupyter_server==2.7.2
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Mako==1.3.5
Markdown
markdown-it-py
MarkupSafe==2.1.5
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune==3.0.1
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
mpmath
msgpack
multidict
multipledispatch
munkres==1.1.4
mypy
mypy-extensions
navigator-updater
nbclient
nbconvert==7.7.3
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.25.2
numpydoc
openpyxl==3.0.10
overrides
packaging==24.0
pandas
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pexpect
pickleshare
pillow==10.3.0
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
prometheus-client
prompt-toolkit
Protego
protobuf==3.20.3
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow==14.0.1
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic_core
pydeck
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv==1.0.1
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
pyxdg
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors==0.4.3
scikit-image
scikit-learn
scipy
Scrapy
seaborn
SecretStorage
semver
Send2Trash
service-identity
sip
six
smart-open
smmap==5.0.1
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy==2.0.30
stack-data
statsmodels
streamlit
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers==0.15.2
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers==4.36.0
truststore
Twisted
typing_extensions==4.11.0
tzdata
tzlocal
uc-micro-py
ujson
Unidecode
uri-template==1.3.0
urllib3
validators
w3lib
watchdog
wcwidth
webcolors==1.13
webencodings==0.5.1
websocket-client
Werkzeug==3.0.3
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
