{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<br/>
<br/>
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="enter email"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="enter password"/>
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        
    </div>

</form>
<br/>
<br/>
<p align="center">Report bugs and issues <a href="https://forms.gle/sA1Z1FRESpwFo6CJA">Here</a></p>
<br/>
<br/>
{% endblock %}