{% extends 'base.html' %}
{% block content %}
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="enter email"/>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="enter username"/>

        <label for="password">Password</label>
        <input type="password" id="password1" name="password1" class="form-control" placeholder="enter password"/>

        <label for="password">Password</label>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="confirm password"/>
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        
    </div>

</form>
{% endblock %}