.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}


/*video background CSS*/
.video-background {
    position: relative;
    width: 100%;
    height: 20vh; /* Adjust based on your needs */
    overflow: hidden;
    border-radius: 15px; /* This rounds the corners of the container */
    z-index: 1; /* Added to create a new stacking context */
}
    
.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
    /* Remove border-radius here as it's not necessary if the container clips the content */
}



h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* You can change this to 800 or any other weight you've loaded */
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}


.background-color {
    background-color: #f5ebf1;
}

.box-color {
    background-color: #e1f4fa;
}

/*whats new, services, etc*/
.box-color2 {
    background-color: #faf7fc;
}



/* Make carousel initially invisible */
.invisible-carousel {
    opacity: 0;
    visibility: hidden;
}

/* Smooth transition for fading in */
.fade-in {
    transition: opacity 2s ease-in-out, visibility 2s ease-in-out;
    opacity: 1 !important;
    visibility: visible !important;
}
