.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}


/*video background CSS*/
.video-background {
    position: relative;
    width: 100%;
    height: 20vh; /* Adjust based on your needs */
    overflow: hidden;
    border-radius: 15px; /* This rounds the corners of the container */
    z-index: 1; /* Added to create a new stacking context */
}
    
.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
    /* Remove border-radius here as it's not necessary if the container clips the content */
}



h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* You can change this to 800 or any other weight you've loaded */
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}


.background-color {
    background-color: #f5ebf1;
}

/*LLM landing page examples*/
.box-color {
    background-color: #e1f4fa;
}

/*landing pitch sections*/
.box-color2 {
    background-color: #fcccf7;
}

/*light purple content box color*/
.box-color3 {
    background-color: #eae7fe;
}

.box-color4 {
    background-color: #faf7fc;
}

/* content box sizes*/
.box-size1 {
    min-width: 25vw;
}

/* Make carousel initially invisible */
.invisible-carousel {
    opacity: 0;
    visibility: hidden;
}

.invisible-section {
    opacity: 0;
    visibility: hidden;

}

/* Smooth transition for fading in */
.fade-in {
    transition: opacity 2s ease-in-out, visibility 2s ease-in-out;
    opacity: 1 !important;
    visibility: visible !important;
}


.img {
    width: 100%; /* Make the image fill the box */
    height: auto; /* Keep the image's aspect ratio */
    border-radius: 15px;
    max-height: 500px;
}



/*landing pitch content transiton*/
.col.fs-4 p {
    transition: all 0.7s ease-in-out;
}


/*highlights top cars on landing page on mouse hover*/
.highlighted {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow for highlight effect */
    transform: scale(1.02); /* Slightly increase size */
    transition: all 0.3s ease-in-out; /* Make the transform smooth */
    z-index: 10; /* Ensure the card is above other content */
}
.card:hover svg {
    transition: all 0.7s ease-in-out;
    transform: scale(1.5); /* Scale the SVG to 150% of its size */
}