{% extends 'base.html' %}
{% block content %}
<br/>
<br/>
<h1 align="center">SourceBox Services</h1>
<p align="center">View Compute  <a href="/premium_info">premium</a></p>
<br/>
<div class="row">
    <div class="col-sm-6">
      <div class="card box-color3 rounded-5 border-dark">
        <div class="card-body">
          <h4 class="card-title">DeepQuery <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-break" viewBox="0 0 16 16">
            <path d="M14 4.5V9h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v7H2V2a2 2 0 0 1 2-2h5.5zM13 12h1v2a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-2h1v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1zM.5 10a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1z"/>
          </svg></h4>
          <br/>
          <p class="card-text border border-dark p-3 rounded-5">Quickly spin up your own custom chatbot with small or large amounts of your own custom data.</p>

          <div class="container text-center">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline-secondary rounded-5">Launch DeepQuery</button>
              </div>
              <div class="col">
                <div align="right" class="p-1">
                  <a href="/content/wikidoc"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
                  </svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card box-color3 rounded-5 border-dark">
        <div class="card-body">
          <h4 class="card-title">DeepQuery Code <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-code" viewBox="0 0 16 16">
            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
            <path d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708m-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708"/>
          </svg></h4>
          <br/>
          <p class="card-text border border-dark p-3 rounded-5">Query your projects directly or Chat with DeepQuery and enjoy a full contextual experience using our vector search algorithms.</p>

          <div class="container text-center">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline-secondary rounded-5">Launch DeepQuery Code</button>
              </div>
              <div class="col">
                <div align="right" class="p-1">
                  <a href="/content/codedoc"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
                  </svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card box-color3 rounded-5 border-dark">
        <div class="card-body">
          <h4 class="card-title">Source-Lightning<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641z"/>
          </svg></h4>
          <br/>
          <p class="card-text border border-dark p-3 rounded-5">Create and download instantly executable no code applications or rapidly speed up your llm software development by deploying lightning-plates</p>

          <div class="container text-center">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline-secondary rounded-5">Launch Source-Lightning</button>
              </div>
              <div class="col">
                <div align="right" class="p-1">
                  <a href="/content/source-lightning"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
                  </svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card box-color3 rounded-5 border-dark">
        <div class="card-body">
          <h4 class="card-title">Pack-Man <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
            <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
          </svg></h4>
          <br/>
          <p class="card-text border border-dark p-3 rounded-5">The official SourceBox data manager, Integrate your own custom data throughout the sourcebox platform and beyond!</p>

          <div class="container text-center">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline-secondary rounded-5">Launch Pack-Man</button>
              </div>
              <div class="col">
                <div align="right" class="p-1">
                  <a href="/content/pack-man"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
                  </svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card box-color3 rounded-5 border-dark">
      <div class="card-body">
        <h4 class="card-title">ImaGen <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
          <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
          <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"/>
        </svg></h4>
        <br/>
        <p class="card-text border border-dark p-3 rounded-5">Choose from multiple image generators to create anything from art to very realistic images</p>

        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-outline-secondary rounded-5">Launch ImaGen</button>
            </div>
            <div class="col">
              <div align="right" class="p-1">
                <a href="/content/imagen"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
                </svg></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<script src="{{ url_for('static', filename='js/content.js') }}"></script>

{% endblock %}