{% extends 'base.html' %}
{% block content %}
<br/>
<br/>
<h1 align="center">Demos</h1>
<p align="center">Downloadable with SourceBox <a href="/premium_info">premium</a></p>
<br/>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">WikiDoc</h5>
          <p class="card-text">Quickly spin up your own Q/A chatbot with your own data from custom files, webpages, databases, and more with all SourceBox supported data.</p>
          <a href="/content/wikidoc" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CodeDoc</h5>
          <p class="card-text">Upload your code to CodeDoc and enjoy fully automated code documentation, Q/A and more with a focus on code.</p>
          <a href="/content/codedoc" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
</div>
<br/>
<br/>
<h1 align="center">SourceBox Services</h1>
<br/>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Source-Lightning</h5>
          <p class="card-text">Create and download instantly executable no code applications or rapidly speed up your llm software development by deploying lightning-plates</p>
          <a href="/content/source-lightning" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pack-Man</h5>
          <p class="card-text">The official SourceBox data manager, Integrate your own custom data throughout the sourcebox platform and beyond!</p>
          <a href="/content/pack-man" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
</div>
<br/>
<br/>
<h1 align="center">Experimental</h1>
<br/>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SourceMail (Gmail users only)</h5>
        <p class="card-text">Gmail users on the SourceBox platform can read summarized emails, auto draft replies, and more all with a handy AI assistant.</p>
        <a href="/content/source-mail" class="btn btn-primary">Launch</a>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
{% endblock %}