{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Welcome</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-1-1">Demos</a>
          <a class="nav-link ms-3 my-1" href="#item-1-2">Services</a>
        </nav>
        <a class="nav-link" href="#item-2">Pack-Man</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-2-1">SourcePacks</a>
          <a class="nav-link ms-3 my-1" href="#item-2-2">CodePacks</a>
        </nav>
        <a class="nav-link" href="#item-3">Source-Lightning</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">No Code Deployment</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Dev-Lightning</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="item-1">
        <h4>Welcome to SourceBox!</h4>
        <br/>
        <p>SourceBox is a machine learning platform for both developers and consumers alike. Use our demos to get the most out of LLM's beyond ChatGPT and similar models. Harness the power of frameworks such as langchain and platforms like huggingface for a uniqe LLM experience. Spin up chat bots quick and easy with WikiDoc for custom Q/A from multiple data sources of different types including databases. Automate parts of LLM development with tools like CodeDoc. Use tools like Source-Lightning to download instantly executable UI included models to run and test localy fast as lightning! Do all this and more all in one place with SourceBox!</p>
      </div>
      <div id="item-1-1">
        <h5>Demos</h5>
        <p><strong>Get started right away with SourceBox demos.</strong> Demos are downloadable and instantly executable micro applications hosted on the SourceBox platform to provide services, display, and discover use cases for LLM's. WikiDoc and CodeDoc are two examples of demos available on the SourceBox platform.</p>
      </div>
      <div id="item-1-2">
        <h5>Services</h5>
        <p><strong>Get the most out of local LLM's with SourceBox services.</strong> SourceBox services range from no code services to developer project starter kits
        </div></p>
      </div>
      <div id="item-2">
        <h4>Pack-Man</h4>
        <p><strong>Safely put your personal data to work.</strong> Pack-Man is a data package manager service for creating, storing, and managing "packs" of custom data to use dynamicaly on various services across the SourceBox platform! For example you can connect packs to Source-Lightning and WikiDoc for easy custom Q/A, downloadable models, and templates with your own data included. All pack data is encrypted and optionaly stored on the SourceBox platform. Packs are also directly downloadable so you can keep your data local and even more secure. You can have peace of mind knowing your data is yours. Once you build a package the data is then encrypted and optionaly stored in our database or downloaded. Each downloaded pack comes with a "key" to undo the encryption to use outside of SourceBox services. <strong>Note: you do not need to decrypt packs to use them with SourceBox services. You only need to decrypt packs for usage outside SourceBox</strong>.</p>
      </div>
      <div id="item-2-1">
        <h5>SourcePacks</h5>
        <p>SourcePacks are standard data packages that can be used accross the SourceBox platform on any service that is connected to Pack-Man. Build your SourcePacks by uploading local files, code, scraping webpages, and connecting databases.</p>
      </div>
      <div id="item-2-2">
        <h5>CodePacks</h5>
        <p><strong>CodePacks are like SourcePacks but for code related data specifically. </strong>CodePacks can also be used across the sourceBox platform on <strong>most</strong> services connected to the package manager (Pack-Man). CodePacks can be used to customize lightning templates and RAG (retrieval augmented generation) related services for more custom templates and generative solutions.</p>
      </div>
      <div id="item-3">
        <h4>Source-Lightning</h4>
        <p><strong>Go beyond the cloud with Source-Lightning.</strong> The cloud is great but local is better, with Source-Lightning you can keep your data grounded and finally get your head out of the clouds (or your LLM's that is)! From instantly executable no code applications to robust starter code templates, start and finish your LLM projects in a flash with Source-Ligtning. Weather you are a software developer or have never touched a line of code in your life Lightning makes LLM's easy to customize and use locally right out of the box!</p>
      </div>
      <div id="item-3-1">
        <h5>No Code Deployment</h5>
        <p><strong>SourceBox is the place to be for easy, local, no code LLM deployment and execution.</strong> You dont need to know anything about LLM's or code to use Source-Lightning! Design and build your own instantly executable machine learning application for yourself or your business without a single line of code with a friendly, easy to use user interface.</p>
      </div>
      <div id="item-3-2">
        <h5>Dev-Lightning</h5>
        <p><strong>Start and finish your LLM coding projects lightning fast.</strong> Download robust lightning templates for any occasion! From simple starter code to large project templates, let us get started for you!</p>
      </div>
    </div>
  </div>
</div>
<script>
  var scrollSpy = new bootstrap.ScrollSpy(document.body, {
    target: '#navbar-example3'
  });
</script>
{% endblock %}
