{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!--hero background video-->
<!-- Use Bootstrap's container-fluid for full width -->
<div class="container-fluid p-0 video-background">
    <video autoplay loop muted playsinline class="embed-responsive-item">
        <source src="{{ url_for('static', filename='videos/background.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>


<br/>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 class="display-2">Open source. Local. Powered by SourceBox <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
              </svg>.</h1>
            <br/>
            <p>Build, Customize, and Run LLM applications that work right out of the box and more!</p>
            <br/>
            <a href="/dashboard"><button type="button" class="btn btn-primary btn-lg">Dashboard</button></a>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Whats new?</h5>
                    <p class="card-text">Check here for updates on improvements and upcoming content!</p>
                    <a href="/updates" class="btn btn-primary">See what's new</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Services</h5>
                    <p class="card-text">Use SourceBox to quickly chat with chatbots using your own custom data, data analysis, and more!</p>
                    <a href="/content" class="btn btn-primary">Try Demos</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Documentation</h5>
                    <p class="card-text">Look through the SourceBox documentation to get started, get help, and more!</p>
                    <a href="/docs" class="btn btn-primary">Open Docs</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<div id="carouselExample" class="carousel slide invisible-carousel">
    <div class="carousel-inner" align="center">
        <div class="carousel-item active">
            <h4>Start working with your own data instantly</h4>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="p-5 mb-4 rounded-3 border box-color">
                            <form method="POST" enctype="multipart/form-data" action="/llama-content">
                                <div class="form-group">
                                    <label for="fileToUpload" class="p-4">Fetch your data:</label>
                                    <input type="file" name="file" id="file">
                                    <label for="prompt"></label>
                                    <input type="text" id="prompt" name="prompt" class="form-control" placeholder="enter prompt"/>
                                </div>
                                <br/>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#submissionModal">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <h4>get started in a flash with Source-Lightning</h4>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="p-5 mb-4 rounded-3 border box-color">
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Choose File
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><button class="dropdown-item" type="button" data-filename="llama_console.py">llama-index console</button></li>
                                        <li><button class="dropdown-item" type="button" data-filename="file2">Another action</button></li>
                                        <li><button class="dropdown-item" type="button" data-filename="file3">Something else here</button></li>
                                    </ul>
                                </div>
                            </div>
                            <br/>
                            <a href="" id="downloadLink"><button type="button" class="btn btn-danger">Download</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
          <h4>Use sentiment analysis tools and services</h4>
          <div class="container my-4">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="p-5 mb-4 rounded-3 border box-color">
                        <form method="POST" enctype="multipart/form-data" action="/llama-content">
                            <div class="form-group">
                                <label for="prompt"></label>
                                <input type="text" id="prompt" name="prompt" class="form-control" placeholder="enter prompt"/>
                            </div>
                            <br/>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#submissionModal">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="modal fade" id="submissionModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Response</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                GPT response content will be displayed here.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sign Up</button>
                <button type="button" class="btn btn-primary" id="confirmSubmit">Login</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('confirmSubmit').addEventListener('click', function() {
        var form = document.querySelector('form');
        form.submit(); // Submit the form
    });
    document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', function() {
            var filename = this.getAttribute('data-filename');
            var downloadLink = document.getElementById('downloadLink');
            downloadLink.href = `/download_plate/${filename}`;
            var dropdownButton = document.getElementById('dropdownMenuButton');
            dropdownButton.textContent = this.textContent;
        });
    });

    $(document).ready(function() {
        // Function to check if the element is in viewport
        function isElementInView(element) {
            var elementTop = $(element).offset().top;
            var elementBottom = elementTop + $(element).outerHeight();
    
            var viewportTop = $(window).scrollTop();
            var viewportBottom = viewportTop + $(window).height();
    
            return elementBottom > viewportTop && elementTop < viewportBottom;
        }
    
        // Listen for scroll events
        $(window).on('scroll', function() {
            // Check if the carousel is in view
            if (isElementInView($('#carouselExample'))) {
                // Add class to fade in
                $('#carouselExample').addClass('fade-in');
            }
        });
    
        // Trigger the scroll event on page load in case the carousel is already in view
        $(window).scroll();
    
        // Your existing jQuery code for form submission and dropdown handling
        $('#confirmSubmit').click(function() {
            $('form').submit(); // Submit the form
        });
        $('.dropdown-item').click(function() {
            var filename = $(this).attr('data-filename');
            var downloadLink = $('#downloadLink');
            downloadLink.attr('href', `/download_plate/${filename}`);
            $('#dropdownMenuButton').text($(this).text());
        });
    });
</script>
    
{% endblock %}
