{% extends 'base.html' %}
{% block content %}
<br/>
<br/>
<div class="container">
    <h2 align="center">Info</h2>
    <br/>
    <br/>
    <div class="row justify-content-center">
        <div class="col-md-9"> <!-- Adjusted to span 3 columns like the cards below -->
            <div class="card">
                <div class="card-header">
                    Username
                </div>
                <div class="card-body">
                    <h5 class="card-title">Premium status:</h5>
                    <p class="card-text">Email: </p>
                    <p class="card-text">Total Compute: </p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Reset Email or Password</h5>
                    <p class="card-text">If you're having issues reset your email and your password here</p>
                    <a href="#" class="btn btn-primary">Reset</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Upgrade to Premium</h5>
                    <p class="card-text">Get the most of SourceBox and support free content</p>
                    <a href="#" class="btn btn-primary">Upgrade</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Delete Account</h5>
                    <p class="card-text">Permanently delete your SourceBox account</p>
                    <a href="#" class="btn btn-danger">Delete Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
