{% extends 'base.html' %}
{% block content %}
<h1 align="center">Dashboard</h1>

<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Premium comming soon</h5>
      <p class="card-text">Get details about the upcoming premium offerings.</p>
      <a href="/premium_info" class="btn btn-primary">Info</a>
    </div>
</div>
<div>
  <h2>Recent</h2>
  <p>dynamic card recent content</p>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Settings</h5>
        <p class="card-text">access your user settings here</p>
        <a href="/user_settings" class="card-link">Settings</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Demos</h5>
        <p class="card-text">access demos here</p>
        <a href="/demos" class="card-link">Demos</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}