{% extends 'base.html' %}
{% block content %}
<br/>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">InboxAI</h5>
          <p class="card-text">a stand alone gmail application that summarizes and drafts email content for gmail users. Note: you will have to register your email once more for this app (for now)</p>
          <a href="#" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">WikiDoc</h5>
          <p class="card-text">Quickly spin up your own Q/A chatbot with your own data from custom files, webpages, databases, and more</p>
          <a href="#" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CodeDoc</h5>
          <p class="card-text">Upload your code to CodeDoc and enjoy fully automated code documentation</p>
          <a href="#" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TradePilot</h5>
          <p class="card-text">The power of langchain brought to your portfolio! TadePilot offers live data analysis and predictive trading</p>
          <a href="#" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">BoilerBox</h5>
          <p class="card-text">Rapidly speed up your llm development by quickly deploying code templates</p>
          <a href="#" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sent-IO</h5>
          <p class="card-text">View the overal sentiment of your social media posts along with post and comment suggestions</p>
          <a href="#" class="btn btn-primary">Launch</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}