{% extends "base.html" %}
{% block content %}

<p>Welcome to the admin page!</p>
<h1>All Users</h1>
<ul>
    {% for user in all_users %}
    <li>{{ user }} ----- Name: {{user.username}} ----- Email: {{user.email}} ----- Join Date: {{user.date_created}}</li>
    {% endfor %}
</ul>
<br/>
<br/>
<h1>Search Account</h1>
<form action="/admin/user_search" method="post">
    <label for="user_id">User #:</label>
    <input type="text" name="user_id" id="user_id">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <input type="submit" value="Search">
</form>
<h3>Results:</h3>
{% if results %}
    {% for result in results %}
    <div>
        {{ result }} ----- Name: {{ result.username }} ----- Email: {{ result.email }} ----- Join Date: {{ result.date_created }}
    </div>
    {% endfor %}
{% else %}
<p>No results found</p>
{% endif %}
<br/>
<h1>__________Actions__________</h1>
<br/>
<h2>User Controls</h2>
<!-- Delete Account Form -->
<form action="/admin/delete_user" method="post">
    <label for="user_id_delete">User #:</label>
    <input type="text" name="user_id_delete" id="user_id_delete">
    <input type="submit" value="Delete Account">
</form>
<br/>
<!-- Reset Email Form -->
<form action="/admin/reset_email" method="post">
    <label for="user_id_email">User #:</label>
    <input type="text" name="user_id_email" id="user_id_email">
    <input type="submit" value="Reset Email">
</form>
<br/>
<!-- Reset Password Form -->
<form action="/admin/reset_password" method="post">
    <label for="user_id_password">User #:</label>
    <input type="text" name="user_id_password" id="user_id_password">
    <input type="submit" value="Reset Password">
</form>
<br/>
<br/>
<br/>
<form action="/admin/user_history" method="post">
    <label for="view_user_history">User #:</label>
    <input type="text" name="view_user_history" id="view_user_history">
    <input type="submit" value="View User History">
</form>
<br/>
{% for record in history %}
    <ul>
        <li>{{ record }}</li>
    </ul>
{% endfor %}
<br/>
<br/>
<br/>
<h2>Platform Updates</h2>
<form action="/admin/platform_update" method="post">
    <label for="update_title">Title:</label>
    <input type="text" name="update_title" id="update_title">
    <textarea name="message" rows="10" cols="100"></textarea>
    <input type="submit" value="Send Platform Update">
</form>
<br/>
<br/>
{% if show_preview == True %}
<h2>Update Preview</h2>
<br>
<!-- Preview Update -->
<div class="card">
    <div class="card-header">Platform Update</div>
    <div class="card-body">
        <h5 class="card-title">{{update_title}}</h5>
        <p class="card-text">{{update_content}}</p>
    </div>
</div>
<br/>

<a href="/" id="push_to_platform"><button class="btn btn-danger">Push to Platform</button></a>
{% else %}
<h2>no update to preview</h2>
{% endif %}
<br/>
<br/>
<a href="/admin/logout"><h3>Logout</h3></a>

{% endblock %}
